{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>QuizTaker - Home</title>
      <!-- Include Tailwind CSS CDN or link to your compiled CSS file -->
      <script src="https://cdn.tailwindcss.com"></script>
   </head>
   <body class="bg-gradient-to-r from-sky-500 to-indigo-500">

    <!-- Quiz Heading -->
    <div class= "m-2 p-2 border-2 border-green-400 bg-slate-50 rounded-bl-lg rounded-tr-lg p-2">
      <h6>This is quiz headig </h6>
    </div>

    <!-- Quiz Questions -->
    <div class= "">

      <!-- quiz question 1 -->
      <div class="bg-white m-2 p-2">
         <!-- question -->
         <div class="bg-green-400 rounded-t-lg p-2">
            <h1 class="text-base font-semibold leading-none">
            While Americans wait in a line, Brits tend to form which of these?
            <h1>
         </div>
         <!-- answers -->
         <div class="border-2 border-green-400 bg-slate-50 rounded-b-lg p-2">
            <ul class="">
               <!-- option 1 -->
               <li>
                  <div>
                     <input type="radio" id="quiz_option1" name="hosting" value="quiz_option1" class="hidden peer" required>
                     <label for="quiz_option1" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="text-base font-normal leading-none">
                           <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                           <div class=""></div>
                        </div>
                     </label>
                  </div>
               </li>
               <!-- option 2-->
               <li>
                  <div>
                     <input type="radio" id="quiz_option2" name="hosting" value="quiz_option2" class="hidden peer" required>
                     <label for="quiz_option2" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="text-base font-normal leading-none">
                           <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                           <div class=""></div>
                        </div>
                     </label>
                  </div>
               </li>
               <!-- option3 -->
               <li>
                  <div>
                     <input type="radio" id="quiz_option3" name="hosting" value="quiz_option3" class="hidden peer" required>
                     <label for="quiz_option3" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="text-base font-normal leading-none">
                           <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                           <div class=""></div>
                        </div>
                     </label>
                  </div>
               </li>
               <!-- option 4 -->
               <li>
                  <div>
                     <input type="radio" id="quiz_option4" name="hosting" value="quiz_option4" class="hidden peer" required>
                     <label for="quiz_option4" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="text-base font-normal leading-none">
                           <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                           <div class=""></div>
                        </div>
                     </label>
                  </div>
               </li>
            </ul>
         </div>
      </div>

      <!-- quiz question 2 -->
      <div class="bg-white m-2 p-2">
        <!-- question -->
        <div class="bg-green-400 rounded-t-lg p-2">
           <h1 class="text-base font-semibold leading-none">
           While Americans wait in a line, Brits tend to form which of these?
           <h1>
        </div>
        <!-- answers -->
        <div class="border-2 border-green-400 bg-slate-50 rounded-b-lg p-2">
           <ul class="">
              <!-- option 1 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option1" name="hosting" value="quiz_option1" class="hidden peer" required>
                    <label for="quiz_option1" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 2-->
              <li>
                 <div>
                    <input type="radio" id="quiz_option2" name="hosting" value="quiz_option2" class="hidden peer" required>
                    <label for="quiz_option2" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option3 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option3" name="hosting" value="quiz_option3" class="hidden peer" required>
                    <label for="quiz_option3" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 4 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option4" name="hosting" value="quiz_option4" class="hidden peer" required>
                    <label for="quiz_option4" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
           </ul>
        </div>
      </div>

      <!-- quiz question 3 -->
      <div class="bg-white m-2 p-2">
        <!-- question -->
        <div class="bg-green-400 rounded-t-lg p-2">
           <h1 class="text-base font-semibold leading-none">
           While Americans wait in a line, Brits tend to form which of these?
           <h1>
        </div>
        <!-- answers -->
        <div class="border-2 border-green-400 bg-slate-50 rounded-b-lg p-2">
           <ul class="">
              <!-- option 1 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option1" name="hosting" value="quiz_option1" class="hidden peer" required>
                    <label for="quiz_option1" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 2-->
              <li>
                 <div>
                    <input type="radio" id="quiz_option2" name="hosting" value="quiz_option2" class="hidden peer" required>
                    <label for="quiz_option2" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option3 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option3" name="hosting" value="quiz_option3" class="hidden peer" required>
                    <label for="quiz_option3" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 4 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option4" name="hosting" value="quiz_option4" class="hidden peer" required>
                    <label for="quiz_option4" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
           </ul>
        </div>
      </div>

      <!-- quiz question 4 -->
      <div class="bg-white m-2 p-2">
        <!-- question -->
        <div class="bg-green-400 rounded-t-lg p-2">
           <h1 class="text-base font-semibold leading-none">
           While Americans wait in a line, Brits tend to form which of these?
           <h1>
        </div>
        <!-- answers -->
        <div class="border-2 border-green-400 bg-slate-50 rounded-b-lg p-2">
           <ul class="">
              <!-- option 1 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option1" name="hosting" value="quiz_option1" class="hidden peer" required>
                    <label for="quiz_option1" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 2-->
              <li>
                 <div>
                    <input type="radio" id="quiz_option2" name="hosting" value="quiz_option2" class="hidden peer" required>
                    <label for="quiz_option2" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option3 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option3" name="hosting" value="quiz_option3" class="hidden peer" required>
                    <label for="quiz_option3" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 4 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option4" name="hosting" value="quiz_option4" class="hidden peer" required>
                    <label for="quiz_option4" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
           </ul>
        </div>
      </div>

      <!-- quiz question 5-->
      <div class="bg-white m-2 p-2">
        <!-- question -->
        <div class="bg-green-400 rounded-t-lg p-2">
           <h1 class="text-base font-semibold leading-none">
           While Americans wait in a line, Brits tend to form which of these?
           <h1>
        </div>
        <!-- answers -->
        <div class="border-2 border-green-400 bg-slate-50 rounded-b-lg p-2">
           <ul class="">
              <!-- option 1 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option1" name="hosting" value="quiz_option1" class="hidden peer" required>
                    <label for="quiz_option1" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 2-->
              <li>
                 <div>
                    <input type="radio" id="quiz_option2" name="hosting" value="quiz_option2" class="hidden peer" required>
                    <label for="quiz_option2" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option3 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option3" name="hosting" value="quiz_option3" class="hidden peer" required>
                    <label for="quiz_option3" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
              <!-- option 4 -->
              <li>
                 <div>
                    <input type="radio" id="quiz_option4" name="hosting" value="quiz_option4" class="hidden peer" required>
                    <label for="quiz_option4" class="inline-flex items-center justify-between w-full p-2 mt-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                       <div class="text-base font-normal leading-none">
                          <div class="">Lorem ipsum dolor sit amet, consectetur</div>
                          <div class=""></div>
                       </div>
                    </label>
                 </div>
              </li>
           </ul>
        </div>
      </div>

    </div>
   


   </body>
</html>